# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.yarn

# next.js
*/.next/

# .env files
*/**/setenvs.ps1

#local files
/TODO.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*